<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- right side div -->
                    <div class="col-md-12 col-12 main-header-left align-item-center" style="align-items: center;">
                        <figure class="errimg">
                            <img src="images/page-not-found.png" alt="Niranjan" class="img-fluid" title="Niranjan Behera">
                        </figure>

                        <p>Wecome to Niranjan World</p>
                        <h1>{{errMsg}}</h1>
                        <a href="/"> <button>Go Back</button> </a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>
</html>