<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main-header-right align-item-center">
                        <figure>
                            <img src="images/closeup-shot.png" alt="Niranjan" class="img-fluid" title="Niranjan Behera">
                        </figure>
                    </div>
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main-header-left">
                        <p>Wecome to My World</p>
                        <h1>I Am A <span class="text-clr"> Mern stack developer </span> and freelancer</h1>
                        <a href="#"> <button>About Me</button> </a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>
</html>